name: Rust

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

env:
  CARGO_INCREMENTAL: 0

jobs:
  rust:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Get Rust toolchain
        id: toolchain
        run: |
          awk -F'[ ="]+' '$1 == "channel" { print "toolchain=" $2 }' rust-toolchain >> "$GITHUB_OUTPUT"

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.toolchain.outputs.toolchain }}

      - name: cache dependencies
        uses: Swatinem/rust-cache@v2.6.2

      - name: reviewdog / clippy
        uses: sksat/action-clippy@v0.2.1
        with:
          reporter: github-pr-review
          clippy_flags: --all-features

      - name: unit test
        run: cargo test

  rustdoc:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Get Rust toolchain
        id: toolchain
        run: |
          awk -F'[ ="]+' '$1 == "channel" { print "toolchain=" $2 }' rust-toolchain >> "$GITHUB_OUTPUT"

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.toolchain.outputs.toolchain }}

      - name: cache dependencies
        uses: Swatinem/rust-cache@v2.6.2

      - name: build rustdoc
        run: |
          cargo doc --no-deps

      - name: add index.html
        run: |
          cat > ./target/doc/index.html << EOS
          <meta http-equiv="refresh" content="1;URL=github_webhook">
          EOS

      - name: fix permissions
        run: |
          chmod -c -R +rX ./target/doc | while read -r line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done

      - name: arcive rustdoc
        uses: actions/upload-pages-artifact@v2.0.0
        with:
          path: ./target/doc

  deploy-rustdoc-pages:
    if: github.ref == 'refs/heads/main'
    needs: rustdoc
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub pages
        id: deployment
        uses: actions/deploy-pages@9dbe3824824f8a1377b8e298bafde1a50ede43e5 # v2.0.4

  semver:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: obi1kenobi/cargo-semver-checks-action@v2.2
