name: Rust

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

env:
  CARGO_INCREMENTAL: 0

jobs:
  rust:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Get Rust toolchain
        id: toolchain
        run: |
          awk -F'[ ="]+' '$1 == "channel" { print "toolchain=" $2 }' rust-toolchain >> "$GITHUB_OUTPUT"

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.toolchain.outputs.toolchain }}

      - name: cache dependencies
        uses: Swatinem/rust-cache@a22603398250b864f7190077025cf752307154dc # v2.7.2

      - name: reviewdog / clippy
        uses: sksat/action-clippy@251e5ac439e43b83a33b7997bb12d34306ba2394 # v0.4.0
        with:
          reporter: github-pr-review
          clippy_flags: --all-features

      - name: unit test
        run: cargo test

  rustdoc:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Get Rust toolchain
        id: toolchain
        run: |
          awk -F'[ ="]+' '$1 == "channel" { print "toolchain=" $2 }' rust-toolchain >> "$GITHUB_OUTPUT"

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.toolchain.outputs.toolchain }}

      - name: cache dependencies
        uses: Swatinem/rust-cache@a22603398250b864f7190077025cf752307154dc # v2.7.2

      - name: build rustdoc
        run: |
          cargo doc --no-deps

      - name: add index.html
        run: |
          cat > ./target/doc/index.html << EOS
          <meta http-equiv="refresh" content="1;URL=github_webhook">
          EOS

      - name: fix permissions
        run: |
          chmod -c -R +rX ./target/doc | while read -r line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done

      - name: arcive rustdoc
        uses: actions/upload-pages-artifact@0252fc4ba7626f0298f0cf00902a25c6afc77fa8 # v3.0.0
        with:
          path: ./target/doc

  deploy-rustdoc-pages:
    if: github.ref == 'refs/heads/main'
    needs: rustdoc
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub pages
        id: deployment
        uses: actions/deploy-pages@87c3283f01cd6fe19a0ab93a23b2f6fcba5a8e42 # v4.0.3

  semver:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: obi1kenobi/cargo-semver-checks-action@e275dda72e250d4df5b564e969e1348d67fefa52 # v2.2

  msrv:
    strategy:
      fail-fast: false
      matrix:
        crate-path:
          - github-webhook
          - type-generator
          - dts-downloader

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: cache dependencies
        uses: Swatinem/rust-cache@a22603398250b864f7190077025cf752307154dc # v2.7.2

      - name: install cargo-msrv
        run: |
          cargo install cargo-msrv --version 0.16.0-beta.18

      - name: check MSRV
        run: |
          cargo msrv verify --add-component rustfmt
